
  .markdown-content h2 {
    font-family: var(--display);
    font-size: var(--text-3xl);
    margin: var(--space-10) 0 var(--space-4);
    font-weight: 400;
  }

  .markdown-content h3 {
    font-family: var(--display);
    font-size: var(--text-xl);
    margin: var(--space-8) 0 var(--space-3);
    font-weight: 400;
  }

  .markdown-content p {
    font-size: var(--text-lg);
    color: var(--text-subtle);
    margin-bottom: var(--space-6);
    line-height: 1.7;
    text-align: justify;
  }

  .markdown-content ul {
    list-style-type: disc;
    padding-left: var(--space-6);
    margin-bottom: var(--space-6);
    color: var(--text-subtle);
  }

  .markdown-content ol {
    list-style-type: decimal;
    padding-left: var(--space-6);
    margin-bottom: var(--space-6);
    color: var(--text-subtle);
    line-height: 1.7;
  }

  .markdown-content li {
    margin-bottom: var(--space-2);
    font-size: var(--text-lg);
    line-height: 1.7;
  }

  .markdown-content strong {
    color: var(--text-4);
    font-weight: 600;
  }

  .markdown-content .figure-container,
  .markdown-content .code-block {
    margin-block: var(--space-8);
    margin-inline: var(--space-4);
    width: auto;
  }

  .markdown-content code {
    font-family: var(--mono);
    margin: var(--space-1);
    padding: var(--space-1) var(--space-2);
    line-height: 1.4;
  }

  .markdown-content pre {
    margin: var(--space-4) var(--space-4);
    padding: var(--space-4);
    ::view-transition-group(project-content) {
      z-index: 20;
    }
  }

  pre,
  .astro-code {
    background: var(--surface-5);
    border-radius: var(--rad-xs);
    padding: 1rem;
    border: 1px solid var(--border-subtle);
    font-size: var(--text-sm);
    line-height: 1.5;
  }

  code:not(pre code) {
    background: rgba(var(--secondary-rgb),.4);
    font-family: var(--mono);
    border-radius: var(--rad-xs);
    font-size: 0.85em;
  }

  .astro-code {
    background-color: rgba(var(--surface-5-rgb),.5) !important;
  }

  .astro-code .line {
    min-height: 1.5em;
  }
  
  a {
    color: var(--accent);
  }

  @media (max-width: 768px) {
    .markdown-content h2 {
      font-size: var(--text-2xl) !important;
      margin: var(--space-8) 0 var(--space-3) !important;
    }

    .markdown-content h3 {
      font-size: var(--text-lg) !important;
      margin: var(--space-6) 0 var(--space-2) !important;
    }

    .markdown-content p,
    .markdown-content li {
      font-size: var(--text-base) !important;
      line-height: 1.6 !important;
    }

    .markdown-content .figure-container,
    .markdown-content .code-block {
      margin-block: var(--space-4) !important;
      margin-inline: 0 !important;
    }

    .markdown-content pre {
      margin: var(--space-2) 0 !important;
      padding: var(--space-3) !important;
    }
  }