/* ─────────────────────────────
   Text Tones
───────────────────────────── */
.text--default { color: var(--text-4); }
.text--muted { color: var(--text-0); }
.text--subtle { color: var(--text-subtle); }
.text--accent { color: var(--accent); }
.text--primary { color: var(--primary); }
.text--secondary { color: var(--secondary); }
.text--danger { color: var(--text-danger); }
.text--success { color: var(--text-success); }

.text--h1 { color: var(--text-5); }
.text--h2 { color: var(--text-5); }
.text--h3 { color: var(--text-4); }
.text--h4 { color: var(--text-3); }
.text--h5 { color: var(--text-2); }
.text--h6 { color: var(--text-2); }

/** -------------------------------------------   */
/** [Control] Sizes - Butttons, Inputs, Selects   */
/** ___________________________________________   */
.control--xs {
    font-size: var(--text-xs);
    padding: var(--space-1) var(--space-2);
    margin: var(--space-2) 0;
  }
  
  .control--sm {
    font-size: var(--text-sm);
    padding: var(--space-2) var(--space-4);
  }

  .control--base, .control--md {
    font-size: var(--text-base);
    padding: var(--space-2) var(--space-5);
    font-weight: 500;
  }

  .control--lg {
    font-size: var(--text-lg);
    padding: var(--space-3) var(--space-6);
    font-weight: 600;
  }

  .control--xl {
    font-size: var(--text-xl);
    padding: var(--space-4) var(--space-8);
  }

